@charset "UTF-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&family=Roboto:wght@100;400&display=swap');

.inner{width: 320px;}
nav{
    width: 20%;
    left: -20%;
}
nav ul{
    flex-direction: column;
    padding: 200px 0;
    font-size: 40px;
}
