@charset "UTF-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
header>.inner, .inner{width: 320px;}

header .logo.on{display: none;}
header .mMenuBt{
    display: block;
    width: 48px;
    height: 48px;
    background: url(/images/baseline_menu_open_white_48dp.png) 50% 50% no-repeat;
    margin: 0 20px 0 0;
}
header .menu{
    position: absolute;
    top: 0;
    right: -1000px;
    background: #000;
    width: 50%;
    height: 1000px;
    display: block;
}
header .menu.on{right: 0px;}

.button{
    display: block;
    width: 40px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.button.on{right: 50%;}
header .button span{
    display: block;
    width: 100%;
    height: 5px;
    background: #ffff;
    transition: all 0.5s;
    transition: opacity 0.3s;
    border-radius: 5px;
}
header.on .button span{background: #00adef;}
header .button span:nth-child(2){
    margin: 10px 0;
}
header .button span:nth-child(1){transform: rotate(0deg) translateY(0); transform-origin:left top;}
header .button span:nth-child(2){transform: translateX(0); opacity: 1;}
header .button span:nth-child(3){transform: rotate(0deg); transform-origin:left top;}
header .button.on span:nth-child(1){transform: rotate(45deg) translateY(-5px);}
header .button.on span:nth-child(2){transform: translateX(0); opacity: 0;}
header .button.on span:nth-child(3){transform: rotate(-45deg); transform-origin:left top;}
header .menu>li{width: auto;}
header .inner{margin: 0;}

.sec1{height: 570px;}
.sec1 .bg{height: 480px;}
.sec1 .text{height: 95px;}
.sec1 .img{
    width: 100%;
    height: 200px;
    top: 75px;
}

.sec2 {margin-top: 100px;}
.sec2 h2{font-size: 15px;}
.sec2 .wrap .set img{
    top: 0;
    width: 160px;
}
.sec2 .wrap .set .num p{font-size: 25px;}
.sec2 .wrap .set .text{
    width: 100%;
    font-size: 15px;
    height: 200px;
}
.sec2 .swiper-button-next, .sec2 .swiper-container-rtl .swiper-button-prev, .sec2 .swiper-button-prev, .sec2 .swiper-container-rtl .swiper-button-next{top: 300px;}

.sec3 .inner, .sec3{
    height: 545px;
    margin-bottom: 200px;
}
.sec3 .bg{
    background: #00adef;
    height: 650px;
    margin-top: 50px;
}
.sec3 .inner{flex-direction: column;}
.sec3 .inner .text{
    margin: 0 0 15px;
    font-size: 14px;
}
.sec3 h2, h2{font-size: 20px;}
.sec3 table{width: 100%;}
.sec3 .tag{display: none;}

.sec4 .inner>.set>.img{display: none;}
.sec4{margin-bottom: 100px;}
.sec4 .inner{display: block;}
.instagram-media{height: 380px;}
.sec4 .inner>.ri{width: 100%;}
.sec4 .news>.set{font-size: 11px;}
.sec4 .own .set .img{display: none;}
.sec4 .own h3{font-size: 15px;}
.sec4 .own .set{font-size: 13px;}

.sec5{
    background-size: auto 100%;
    height: 130px;
}
.sec5 img{
    width: 70px;
    height: 35px;
    margin-bottom: 15px;
}
.sec5 h2{font-size: 13px;}

.sec6 .pail>.set, .sec6{padding: 0;}
.sec6 .swiper-pagination{display: block;}
.sec6 .pail>.set{margin-bottom: 35px;}

footer .inner{width: 100%;}
footer{padding: 0;}
footer .le{
    width: 50%;
    font-size: 10px;
}
footer .ri{
    width: 30%;
    margin-top: 40px;
}
.select {
    width: 100px;
    z-index: 1;
}
footer .ri>a>img{width: 30px;}