@charset "UTF-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
/* *{ border: 0.1px solid #7a7a7a;} */

.inner{
    width: 1200px;
    margin: 0 auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
ul{list-style: none;}
a{
    text-decoration: none;
    color: #fff;
}
h2{
    color: #00326e;
    font-size: 30px;
    margin-bottom: 50px;
}

/* header */
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 52;
    transition: all 0.5s;
}
header.on{
    background: rgba(255, 255, 255, 0.8);
    transition: all 0.5s;
}
header.on::after{
    content: ""; display: block; width: 100%; height: 1px; background: #00326e;
}
header.on .menu a{color: #000;}
header.on .menu>li>a{
    color: #00adef;
    font-weight: bolder;
}
header.on .menu a:hover{color: #00adef;}
header.on .menu>li:hover>a{
    color: #FFF;
    background: #00326e;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
header>.inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
header.on> .inner{
    height: 60px;
    transition: all 0.5s;
}
header .logo{
    background: url(../img/logo/fff.png)center no-repeat;
    width: 200px;
    height: 75px;
    background-size: auto 80%;
    transition: all 0.3s;
}
header.on .logo{
    background: url(../img/logo/color.png)center no-repeat;
    height: 60px;
    transition: all 0.5s;
    background-size: auto 80%;
}
header .menu{
    display: flex;
    justify-content: space-between;
    width: 80%;
    font-size: 18px;
}
header.on .menu>li>ul{background: rgb(255, 255, 255);}
header .menu>li>ul>li>ul li a{font-size: 15px;}
header .menu>li>ul>li>ul li:hover a{color: #00326e;}
header .menu>li{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header.on .menu>li{height: 60px;}
header .menu>li>ul{
    width: 100%;
    top: 61px;
    position: fixed;
    left: 0;
    transform: translateY(-500px);
    z-index: 5;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
header .menu>li:hover>ul{
    transform: translateY(0%);
    transition: all 0.4s;
    display: flex;
}
header .menu>li>ul>li{
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header .menu>li>ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 0 10px;
}
header .menu>li>ul>li>ul{font-size: 13px;}
header .menu>li>ul>li>ul a::before{content: ""; display: block; width: 5px; height: 1px; background: #00adef; margin-right: 10px;}
header .menu>li>ul>li>ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}
.button{display: none;}

/* sec1 */
.sec1{
    height: 850px;
    background: #ebebeb;
}
@keyframes bg{
    0% {background: #fad8cf;}
    25% {background: #b3b13a;}
    50% {background: #78467c;}
    75% {background: #2f3156;}
    100% {background: #fad8cf;}
}
.sec1 .bg{
    display: flex;
    align-items: center;
    width: 100%;
    height: 750px;
    animation-name: bg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
}
.sec1 .text{
    background: url(../img/text.png);
    background-size: auto 100%;
    height: 250px;
    width: 100%;
    position: absolute;
}
.sec1 .inner{position: relative;}
.sec1 .img{
    position: absolute;
    left: 0px;
    top: -150px;
    background: url(../img/bg/sec1/1.png) center no-repeat;
    width: 1200px;
    height: 600px;
    background-size:  auto 100%;
}
.tip{
    background: url(../img/logo/korean\ color.png) center no-repeat;
    width: 200px;
    height: 100px;
    background-size: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;                
}
.tip.on{            
    opacity: 1;            
}

/* sec2 */
.sec2{
    margin: 230px 0 0;
}
.sec2 h2{
    color: #aaa;
    font-size: 20px;
    margin: 0 0 10px;
}
.sec2 .wrap{
    display: flex;
    margin-top: 20px;
}
.sec2 .wrap .set{
    position: relative;
    display: flex;
    flex-direction: column;
}
.sec2 .wrap .set img{
    position: absolute;
    top: -50px;
    left: 10px;
    width: 250px;
}
.sec2 .wrap .set .num{
    display: flex;
    justify-content: flex-end;
}
.sec2 .wrap .set .num p{
    font-size: 40px;
    color: rgb(146, 146, 146);
    font-weight: bolder;
}
.sec2 .wrap .set .text{
    font-size: 20px;
    color: #fff;
    padding: 10px 10px 0 0;
    font-weight: bold;
    background: url(../img/bg/sec2/3.png) center no-repeat;
    width: 585px;
    height: 400px;
    background-size: auto 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-shadow: 0px 0px 10px #000;
}
.sec2 .wrap .set:nth-child(2) .text{
    background: url(../img/bg/sec2/1.png) center no-repeat;
    background-size: auto 100%;
}
.sec2 .wrap .set:nth-child(3) .text{
    background: url(../img/bg/sec2/2.png) center no-repeat;
    background-size: auto 100%;
}
:root {
    --swiper-theme-color: #00adef;
}
.sec2 .swiper-button-next, .sec2 .swiper-container-rtl .swiper-button-prev, .sec2 .swiper-button-prev, .sec2 .swiper-container-rtl .swiper-button-next{top: 460px;}

/* sec3 */
.sec3{
    position: relative;
    height: 1000px;
}
.sec3 .bg{
    margin-bottom: 200px;
    background: url(../img/bg/sec4/bg.png) center no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 0;
}
.sec3 .inner{
    height: 1000px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sec3 .inner .text{
    margin: 0 50px 100px 0;
    color: #fff;
}
.sec3 h2{
    font-size: 25px;
    margin-bottom: 25px;
}
.sec3 .tag{
    background: url(../img/trch_tag.png) center no-repeat;
    width: 150px;
    height: 150px;
    background-size: 100%;
    position: absolute;
    top: 400px;
    right: 50px;
}
.sec3 table{
    background: #fff;
    width: 40%;
    border-collapse: collapse;
}
.sec3 td{
    width: 50%;
    height: 50px;
    text-align: center;
    border: 1px solid #000;
}
.sec3 tr:first-child{
    background: #00326e;
    color: #fff;
}

/* sec4 */
.instagram-media{
    width: 450px;
    height: 550px;
}
.sec4 .own{width: 100%;}
.sec4 .own .set{
    height: 250px;
    display: flex;
    align-items: center;
    padding: 0 50px 0 40px;
}
.sec4 .own .set .img{
    background: url(../img/prize/korean.png) center no-repeat;
    background-size: auto 100%;
    width: 200px;
    height: 100px;
}
.sec4 .own .set:nth-child(2) .img{
    background: url(../img/prize/asia.png) center no-repeat;
    background-size: 100%;
}
.sec4 .own .set:nth-child(3) .img{
    background: url(../img/prize/FB.png) center no-repeat;
    background-size: 100%;
}
.sec4 .own .set:nth-child(4) .img{
    background: url(../img/prize/kongyoung.png) center no-repeat;
    background-size: 100%;
}
.sec4 .own .set:nth-child(5) .img{
    background: url(../img/prize/chosun.png) center no-repeat;
    background-size: 100%;
}
.sec4 .own h3{
    font-size: 25px;
    color: #00adef;
    margin-bottom: 10px;
}
.sec4 a{color: #000;}
.sec4{margin-bottom: 250px;}
.sec4 .inner{
    display: flex;
    justify-content: space-between;
}
.sec4 .inner>.set{
    display: flex;
    position: relative;
}
.sec4 .inner>.set>.img{
    background: url(../img/img.png) center no-repeat;
    width: 140px;
    height: 360px;
    position: absolute;
    top: 255px;
    right: -120px;
}
.sec4 .title_set::after{content: ""; display: block; width: 100%; height: 1px; background: #00adef;}
.sec4 .title_set{
    margin-bottom: 20px; 
    width: 100%;
}
.sec4 .inner>.ri{width: 50%;}
.sec4 .title_set a{
    color: #00adef; 
    transition: all 0.5s;
    font-size: 25px;
}
.sec4 .title_set a:hover{
    transform: rotate( 360deg );
}
.sec4 h2{margin-bottom: 10px;}
.sec4 .ti{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}
.sec4 .news>.set{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* sec5 */
.sec5{
    background: url(../img/bg/sec8/bg.png)center no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 200px;
    background-size: 100%;
    margin-bottom: 100px;
}
.sec5 .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.sec5 img{
    width: 160px;
    height: 80px;
    margin: 0 10px 25px 0;
}
.sec5 h2{
    color: #fff;
    margin: 0;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* sec6 */
.sec6{
    margin-bottom: 100px;
    padding: 50px 0;
    color: #000;
}
.sec6 h2{color: #00326e;}
.sec6 .pail{
    display: flex;
    justify-content: space-between;
}
.sec6 .pail>.set{
    border-right: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 50px 0;
}
.sec6 .pail>.set:last-child{border: none;}
.sec6 .pail>.set>h4{margin-bottom: 10px;}
.sec6 .pail> .set>.icon{
    background: url(../img//icon/icon_introduce_icon_01.png) center no-repeat;
    width: 80px;
    height: 80px;
    background-size: auto 100%;
    margin-bottom: 20px;
}
.sec6 .pail> .set:nth-child(2)>.icon{
    background: url(../img//icon/icon_introduce_icon_02.png) center no-repeat;
    background-size: auto 100%;
}
.sec6 .pail> .set:nth-child(3)>.icon{
    background: url(../img//icon/icon_introduce_icon_03.png) center no-repeat;
    background-size: auto 100%;
}
.sec6 .pail> .set:nth-child(4)>.icon{
    background: url(../img//icon/icon_introduce_icon_04.png) center no-repeat;
    background-size: auto 100%;
}
.sec6 .swiper-pagination{display: none;}

/* footer */
footer{
    background: #000;
    padding: 50px;
    color: rgb(194, 194, 194);
    font-size: 13px;
}
footer .inner{
    position: relative;
    display: flex;
    justify-content: space-between;
}
footer .le p:last-child{margin-top: 20px;}
.select {
    width: 120px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}
.select a {
    height: 30px;
    display: flex;
    align-items: center;
}
.select .title {
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    height: 30px;
}
.select .list {
    border: 1px solid #ccc;
    position: absolute;
    background: #000;
    left: 0;
    top: 30px;
    width: 120px;
    box-sizing: border-box;
    display: none;
}
.select .list.on {
    display: block;
}
.select .list a {
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
.select .list a:hover,
.select .list a:active,
.select .list a:focus {
    background: rgb(126, 126, 126);
    color: #fff;
}
footer .ri{margin-top: 50px;}
footer .ri>a>img{width: 40px;}