@charset "UTF-8";
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap');
*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.inner{width: 320px;}
nav>ul{display: none;}
nav button{display: none;}
.sec1 iframe{display: none;}
.sec1{
    background: url(../img/mb/BG.png) center no-repeat;
    background-size: 100%;
    width: 100%;
    height: 565px;
}
nav{height: 80px;}
nav div.logo{
    width: 150px;
    background-size: 100%;
}
.sec1 .main_text{
    height: 565px;
    font-size: 13px;
}
.sec1 .main_text>h1:nth-child(1){font-size: 15px;}
.sec1 .main_text>h1:nth-child(2){font-size: 23px;}
.main_text>div{width: 150px;}
.main_text>div a{font-size: 15px;}
.container {font-size: 13px;}
.container .operating-hour {font-size: 18px;}
.container .operating-hour>.time {font-size: 20px;}
.sec2 .own{font-size: 13px;}
.sec2{margin: 0;}
.sec2>.inner_a{width: 100%;}
.sec3 .title2{display: block;}
.sec3 .title2> a{padding: 15px 0;}
.sec3 .set1 .set_a{
    flex-shrink: 0;
    margin-right: 50px;
}
.sec4 .set2{display: block;}
.sec4 .set3{display: none;}
.sec4 .set2 .set_b>button,
.contentsTitGroup{margin-bottom: 50px;}
section .tabV{justify-content: center;}
section .tabV ul li{width: 100%;}
section .tabV .content{margin: 0; top: 100px;}
.content .conBox{display: block;}
.gag{display: block;}
.gag .set3_1, .sec4 .conBox .set3_2{
    font-size: auto;
}
#con13 .gag .set3_1{
    display: flex;
    margin: 20px 0;
}
section .tabV ul{width: 100%;}
section .tabV .content{width: 100%;}
.content .conBox{
    /* z-index: 5; */
    height: auto;
}
.gag .set3_1, .sec4 .conBox .set3_2{
    font-size: 15px;
    display: block;
    height: auto;
    padding: 0;
    width: auto;
    border-bottom: 1px solid #fff;
    border-right: none;
}
.sec4 .set2 .set_text{display: none;}
section .tabV ul{width: 100%;}
/* section .tabV .content{display: none;} */
.sec5 .set1 button,
.sec5 .set2 button{margin: 20px 0;}
.sec5{height: 100%;}
.sec5 .set1>.img, .sec5 .set2>.img {
    background-size: 100% 100%;
    width: 100%;
    height: 220px;
}
.sec5 .set2{position: initial;}
.sec5 .set2>.text{height: 220px;}
.sec5 .text>h2{font-size: 30px;}
.sec5 .text p{
    font-size: 14px;
}
.sec6 .img_set .img{
    width: 150px;
    height: 150px;
    font-size: 12px;
}
.sec6{height: 250px;}
footer{height: 150px;}
footer .left {
    width: 250px;
    font-size: 10px;
}
.swiper-pagination{display: block;}
.bg{background: none;}
.set_full>ul>li>.set3{display: none;}

.tabV ul li .content{display: none;}
.tabV ul li .content.on{display: block;}
section .tabV ul li, .sec4{height: auto;}
section .tabV .content, section .tabV ul, .sec4 .set_a, section .tabV li:nth-child(4) .button, section .tabV li:nth-child(3) .button, section .tabV li:nth-child(2) .button{position:inherit;}
.button{
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
h3{margin-top: 20px;}